# update requirement versions
streamlit==1.29.0
streamlit-option-menu==0.3.6
pandas==2.1.2
pyyaml==6.0.1
pillow==10.1.0
langchain
langchain_community
mysql-connector
chromadb
nltk 
rouge-score 
rouge
psutil 
torch
ragas
sacrebleu
os
json
time
sentence-transformer
langchain-huggingface
asyncio
re
# to run: pip install -r requirements.txt